@use "../../styles/mixins" as *;

.product-list {
  width: 100%;
  padding-top: 16px;
  overflow: hidden;
}

.product-list__slider {
  width: 100%;
  height: 100%;

  .swiper-slide {
    width: 160px;
    height: auto;
    @include mq("tablet") {
      width: 264px;
    }
  }
}
